*/nilearn-cache
/mni-tmp
/pcnp-mni/anat
/pcnp-mni/pamret-bold
/pcnp-mni/rest-bold
/pcnp-ucla/anat
/pcnp-ucla/pamret-bold
/pcnp-ucla/rest-bold
/preproc/data
/references
/timeseries
/tmp
/utils/spm12
/voxel-timeseries
util.py
fnames.txt
mean.py
pipeline.txt
